<main>
    <h1>Add A Bill to your list</h1>
    <ul>
        <p>Name: <%=list.Name%></p>
        <p>Month: <%=list.Month%></p>
        <p>Year: <%=list.Year%></p>
        
                <table>
                  <tr>
                    <th>Name</th>
                    <th>Total Balance</th>
                    <th>Cost</th>
                    <th>Due Date</th>
                    <th>Amount Paid</th>
                    <th>Date Paid</th>
                    <th>Remaining Balance</th>
                  </tr> 
                <% for(var i=0; i<bills.length; i++) {%>
                
                    <a href="/bills/billsEdit/<%=bills[i]._id%>"> 
                        <tr>
                          <td><%=bills[i].Name%></td>
                          <td>$<%=bills[i].TotalBalance%></td>
                          <td>$<%=bills[i].Cost%></td>
                          <td><%=dueDates[i]%></td>
                          <td>$<%=bills[i].AmountPaid%></td>
                          <td><%=datePaid[i]%></td>
                          <td>$<%=bills[i].RemainingBalance%></td>
                        
                        </tr> 
                    </a>
                <% } %>
                </table>
                
    

              

    </ul>

    <form action="/bills/newBill/<%=list._id%>" method="POST">
        <p><label for="">Bill Name</label>
        <input type="text" name="Name" id="">
        </p>

        <p><label for="">Total Balance $:</label>
        <input type="text" name="TotalBalance" id="">
        </p>

        <p><label for="">Bill Cost $:</label>
        <input type="text" name="Cost" id="">
        </p>

        <p><label for="">Bill Due Date</label>
        <input type="date" name="DueDate" id="">
        </p>

        <p><label for="">Amount paid $:</label>
        <input type="text" name="AmountPaid" id="">
        </p>

        <p><label for="">Date Paid</label>
        <input type="date" name="DatePaid" id="">
        </p>

        <p><label for="">Remaining Balance $:</label>
        <input type="text" name="RemainingBalance" id="">
        </p>



    <button type="submit">Add Bill</button>
    </form>
</main>