<%- include('partials/header') -%>
<main>


    <h1>Edit List</h1>
    <% if (list) {%>
    <ul>
        <p>Name: <%=list.Name%></p>
        <p>Month: <%=list.Month%></p>
        <p>Year: <%=list.Year%></p>
        
                <table> 
                  <tr>
                    <th>Name</th>
                    <th>Total Balance</th>
                    <th>Cost</th>
                    <th>Due Date</th>
                    <th>Amount Paid</th>
                    <th>Date Paid</th>
                    <th>Remaining Balance (Est)</th>
                  </tr> 
                <% for(var i=0; i<bills.length; i++) {%>
                     <tr>
                          <td><%=bills[i].Name%></td>
                          <td>$<%=bills[i].TotalBalance%></td>
                          <td>$<%=bills[i].Cost%></td>
                          <td><%=dueDates[i]%></td>
                          <td>$<%=bills[i].AmountPaid%></td>
                          <td><%=datePaid[i]%></td>
                          <td>$<%=bills[i].RemainingBalance%></td> 
                    </tr>   
                <% } %>
                </table>

                <ul class="col-12">
                  <% for(var i=0; i<bills.length; i++) {%>


                
                    <li class="col-5 bill-container">
                        <form action="/bills/editBill/<%=bills[i]._id%>?_method=PUT" method="POST">
                            <p><%=bills[i]._id%></p>
                        <p><input type="text" class="" name="name" placeholder="<%=bills[i].Name%>"></p>
                        <p><input type="text" class="tableinputs" name="balance" placeholder="$<%=bills[i].TotalBalance%>"></p>
                        <p><input type="text" class="tableinputs" name="cost" placeholder="$<%=bills[i].Cost%>"></p>
                        <p><input type="date" class="tableinputs" name="dueDate" placeholder="<%=dueDates[i]%>"></p>
                        <p><input type="text" class="tableinputs" name="paid" placeholder="$<%=bills[i].AmountPaid%>"></p>
                        <p><input type="date" class="tableinputs" name="datePaid" placeholder="$<%=bills[i].datePaid%>"></p>
                        <p><input type="text" class="tableinputs" name="remaining" placeholder="$<%=bills[i].RemainingBalance%>"></p>
                        <input type="hidden" name="listId" value="<%=list._id%>">

                        <button type="submit">Update Bill</button>
                        </form>
                    </li>

                </ul>

                    
                    

                    <% } %>
                </table>
                
    
                <a href="/bills/editList/<%=list._id%>">Edit List</a> 
   
    
              

    </ul>

    <% } else { %>
        <p>No list found</p>
    <% } %>

</main>

<%- include('partials/footer') -%>